@import "text";
@import "mixins";
@import "game";

@cont-width: 400px;
@text: #353533;
@bg: #eeeded;
@link: @text - #090909;
@hilite: #049;

body {
  padding: 0;
  margin: 0;
  background-color: @bg; 
  background-repeat: no-repeat;
  color: @text;
  font-family: 'OpenSans', sans-serif;
  letter-spacing: 1px;
  font-size: 12px;

}

footer {
  height: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  border-top: 1px dotted @text;
}

#container {
  width: @cont-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: 1px dotted @text;
}

#logos {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  .transparency(0.7);
  height: 25px;
  margin-top: 50px;
  padding: 20px;
  width: @cont-width;
  line-height: 2.4em;
  a {
    background: none;
  }
  img {
    height: 100%;
    vertical-align: middle;
  }
}

#user {
 position: absolute;
 top: 0;
 left: 0;
 padding: 2px;
 border-bottom: 1px solid lighten(@text,20%);
 border-right: 1px solid lighten(@text,20%);
 background: darken(@bg, 20%);
 .transparency(0.3);
 .bottom-right-rounded-corner(10px);
 &:hover {
   .transparency(1.0);
   .pointer;
 }
}


h1 {
  .main();
}
a {
  .clickable();
  .shadow();
}

::-moz-selection{
  background: @text + #333;
  color: @bg;
} 

::selection {
  background: @text + #333;
  color: @bg;
}
